<div>
    <h2>Modification de la plante :</h2>
    <hr>
    <form class="col-lg-3 col-sm-6" [formGroup]="plantCreateForm" (ngSubmit)="this.save()">
        <div class="form-group">
            <label for="nomCommun">Nom Commun :</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.nomCommun" formControlName="nomCommun"  name="nomCommun">
        </div>
        <div class="form-group">
            <label for="nomScientifique">Nom Scientifique :</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.nomScientifique"  formControlName="nomScientifique" name="nomScientifique">
        </div>

        <div class="form-group">
            <label for="intervalArrossage">Cycle d'arrossage en jour:</label>
            <input type="number" class="form-control" [(ngModel)]="this.plant.intervalArrossage" formControlName="intervalArrossage"  name="intervalArrossage">
        </div>

        <div class="form-group">
            <label for="ensoleillementOpti">Ensoleillement optimal:</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.ensoleillementOpti" formControlName="ensoleillementOpti"  name="ensoleillementOpti">
        </div>

        <div class="form-group">
            <label for="humiditeOpti">humiditeOpti</label>
            <input type="number" class="form-control" [(ngModel)]="this.plant.humiditeOpti" formControlName="humiditeOpti"  name="humiditeOpti">
        </div>

        <div class="form-group">
            <label for="solOpti">solOpti</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.solOpti" formControlName="solOpti"  name="solOpti">
        </div>

        <div class="form-group">
            <label for="repiquage">repiquage</label>
            <input type="number" class="form-control" [(ngModel)]="this.plant.repiquage" formControlName="repiquage"  name="repiquage">
        </div>

        <div class="form-group">
            <label for="temperatureMin">temperatureMin :</label>
            <input type="number" class="form-control" [(ngModel)]="this.plant.temperatureMin" formControlName="temperatureMin"  name="temperatureMin">
        </div>

        <div class="form-group">
            <label for="temperatureMax">temperatureMax :</label>
            <input type="number" class="form-control" [(ngModel)]="this.plant.temperatureMax" formControlName="temperatureMax"  name="temperatureMax">
        </div>

        <div class="form-group">
            <label for="description">description :</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.description" formControlName="description"  name="description">
        </div>

        <div class="form-group">
            <label for="toxicite">toxicite :</label>
            <select class="form-control" [(ngModel)]="this.plant.toxicite" formControlName="toxicite"  name="toxicite">
                <option value="true">Oui</option>    
                <option value="false">Non</option>
            </select>
        </div>

        <div class="form-group">
            <label for="photo">photo:</label>
            <input type="text" class="form-control" [(ngModel)]="this.plant.photo" formControlName="photo"  name="photo">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!plantCreateForm.valid">Enregistrer</button>
        <div *ngIf="this.messageValidation.length">
            <div class="alert alert-fail" *ngIf="this.error">
                {{this.messageValidation}}
            </div>
            <div class="alert alert-success" *ngIf="!this.error">
                {{this.messageValidation}}
            </div>
        </div>

    </form>
    <hr>
    <a routerLink="/plant">
    <button type="button" class="btn btn-info">Voir la liste entière</button>
    </a>
    <hr>

</div>


