<div class="container">
    <!-- Entete de la liste des plantes -->
    <app-entete-plant></app-entete-plant>

    <!-- Partie correspondant aux differents choix de l'administrateur, s'affiche uniquement si choix = true -->
    <div *ngIf="choix">
        <h2>Cher administrateur, que voulez-vous faire ?</h2>

        <div class="container">
            <button class="btn alazea-btn mt-15" (click)="this.afficherListe()">Afficher la liste des plantes de notre dictionnaire</button>
        </div>

        <div class="container">
            <button class="btn alazea-btn mt-15" (click)="this.afficherRecherche()">Rechercher une plante par numéro d'identifiant</button>
        </div>

        <div class="container">
            <a routerLink="/plant/create">
                <button class="btn alazea-btn mt-15">Ajouter une plante dans notre dictionnaire</button>
            </a>
        </div>
    </div>

    <!-- Partie Recherche Par Id, s'affiche uniquement si recherche = true -->
    <div *ngIf="recherche">
        <h2><label for="search-box">Recherche par numéro d'identifiant</label></h2>
        <input type="number" [(ngModel)]="this.numero"/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/plant/update/{{this.numero}}">
            <button class="btn alazea-btn mt-15" >Rechercher</button>
        </a>
    </div>
    
    <!-- Partie Liste des plantes, s'affiche uniquement si liste = true -->
    <div *ngIf="liste">
        <h2>Liste des plantes de notre dictionnaire</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom commun</th>
                    <th>Nom scientifique</th>
                    <th>URL picture</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plant of this.allPlant">
                    <td>{{plant.identifiant}}</td>
                    <td>{{plant.commun}}</td>
                    <td>{{plant.scientifique}}</td>
                    <td>{{plant.picture}}</td>
                    <td>
                    <button class="btn alazea-btn mt-15" (click)="this.delete(plant.identifiant)">Supprimer cette plante</button>
                    &nbsp;&nbsp;
                    <a routerLink="/plant/update/{{plant.identifiant}}">
                        <button class="btn alazea-btn mt-15" >Modifier cette plante</button>
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination" >
                <li class="page-item" *ngIf="this.pageActive>0">
                    <a class="page-link" (click)="this.getAll(0)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item" *ngIf="this.pageActive>0">
                    <a class="page-link" (click)="this.getAll(this.pageActive-1)">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item" *ngFor="let page of pageTotal">
                    <a class="page-link" id="{{page}}" (click)="this.getAll(page)">{{page+1}}</a>
                </li>
                <li class="page-item" *ngIf="this.pageActive<this.maxPage-1">
                    <a class="page-link" (click)="this.getAll(this.pageActive+1)">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" *ngIf="this.pageActive<this.maxPage-1">
                    <a class="page-link" (click)="this.getAll(this.maxPage-1)">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Partie retour aux differents choix, s'affiche uniquement si choix = false -->
    <div class="container" *ngIf="!choix">
        <button class="btn alazea-btn mt-15" (click)="this.afficherChoix()">Retour</button>
    </div>

</div>
