<div class="container">



    <!--LIEN TEMPORAIRE POUR AFFICHER LES PAGES NON ACCESSIBLES-->
    <div>
        <a routerLink="/periode/update">
            <input type="button" value="VISUEL update période" />
        </a>
    </div>
    <br>

    <!--LISTE DES PERIODES-->
    <div class="row">
        <label>
            <h2><b>LISTE DES PERIODES </b></h2>
        </label>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Plante</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Departement</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of this.allPeriodes">
                    <td>{{e.id}}</td>
                    <td>{{e.type}}</td>
                    <td>{{e.plante}}</td>
                    <td>{{e.dateDebut}}</td>
                    <td>{{e.dateFin}}</td>
                    <td>{{e.departement}}</td>
                    <td>
                        &nbsp;&nbsp;
                        <a routerLink="/periode/update">
                            <button class="btn btn-info" (click)="this.stockagePeriode(e)">Modifier</button>
                        </a>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="this.delete(e.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--LIEN DE NAVIGATION-->
<div class="container">
    <div class="bottompage">
        <a routerLink="/periode/create">
            <input type="button" value="Ajouter une période" class="btn alazea-btn mt-15" />
        </a>
        <a routerLink="/admin">
            <input type="button" value="Retour" class="btn alazea-btn mt-15" />
        </a>
    </div>
</div>