<!-- Choix et menu déroulant -->
<div class="container">
    <!-- Formulaire de saisi des dimensions du jardin -->
    <form [formGroup]="dimensionsJardinForm">
        <h3>Dimensions du jardin :</h3>
        <label>Longueur : </label>
        <input id="length" type="number" min="0" [(ngModel)]="this.jardin.length" formControlName="length" name="length" required>
        <div *ngIf="length.errors?.required && (length.touched || length.dirty)" class="alert alert-danger">
            Veuillez entrer une longueur.
        </div>
        
        <label>Largeur : </label>
        <input id="width" type="number" min="0" [(ngModel)]="this.jardin.width" formControlName="width" name="width" required>
        <div *ngIf="width.errors?.required && (width.touched || width.dirty)" class="alert alert-danger">
            Veuillez entrer une largeur.
        </div>

        <div>
            <p *ngIf="this.messageErreur != null">{{this.messageErreur}}</p>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <hr>
    <!-- Choix de largeur des chemins et planches -->
    <form>
        
    </form>
    <hr>
    <!-- Formulaire de saisi des légumes à mettre dans le jardin -->
    <form>
        <h3>Choix des légumes :</h3>
        <!-- Mettre un menu déroulant avec la liste des légumes, ou bien juste une barre de recherche-->
    </form>
</div>

<!-- Lieu de visualisation du potager -->
<!-- Ajouter des options pour avoir une symétrie axiale dans les deux dimensions et aussi pour generer un pdf -->
<div class="container">

</div>