<!-- Choix et menu déroulant -->
<div class="container">
    <form [formGroup]="dimensionsJardinForm" (ngSubmit)="this.validerDimensions()">
        <!-- Ajouter des contraintes ou longueur doit être plus grand que largeur -->
        <p>Dimensions du jardin :</p>
        <label>Longueur : </label>
        <input id="length" type="number" min="0" [(ngModel)]="this.jardin.length" formControlName="length" name="length" required>
        <div *ngIf="length.errors?.required && (length.touched || length.dirty)" class="alert alert-danger">
            Veuillez entrer une longueur.
        </div>
        
        <label>Largeur : </label>
        <input id="width" type="number" min="0" [(ngModel)]="this.jardin.width" formControlName="width" name="width" required>
        <div *ngIf="width.errors?.required && (width.touched || width.dirty)" class="alert alert-danger">
            Veuillez entrer une largeur.
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <hr>
    <form>

    </form>
</div>

<!-- Lieu de visualisation du potager -->
<!-- Ajouter des options pour avoir une symétrie axiale dans les deux dimensions et aussi pour generer un pdf -->
<div class="container">

</div>