<div class="container">

    <form [formGroup]="addJardinForm" (ngSubmit)="this.create()">
        <label><b> AJOUTER UN JARDIN </b></label>
        <hr>
        <div>
            <label>Name : </label>
            <input id="name" type="text" [(ngModel)]="this.jardin.name" formControlName="name" name="name" required>
            <div *ngIf="name.errors?.required && (name.touched || name.dirty)" class="alert alert-danger">
                Le nom est requis !
            </div>
        </div>
        <div>
            <label>Sol : </label>
            <select formControlName="ground" id="ground" [(ngModel)]="this.jardin.ground" name="ground">
                <option value='sableux'>Sableux</option>
                <option value='limonoArgileux'>Limono-argileux</option>
                <option value='argiloSableux'>Argilo-sableux</option>
                <option value='argiLimoneux'>Argilo-limoneux</option>
                <option value='argileux'>Argileux</option>
            </select>
        </div>
        <div>
            <label>Longeur : </label>
            <input id="length" type="number" min="0" [(ngModel)]="this.jardin.length" formControlName="length"
                name="length">
        </div>
        <div>
            <label>Largeur : </label>
            <input id="width" type="number" min="0" [(ngModel)]="this.jardin.width" formControlName="width"
                name="width">
        </div>
        <div>
            <label>Département : </label>
            <select class="form-control" id="dept" formControlName="dept" name="dept"
                [(ngModel)]="this.jardin.dept" required>
                <div *ngFor="let depart of this.allDepartements">
                    <option>{{depart.name}}</option>
                </div>
            </select>
            <span *ngIf="this.allDepartements == null">Aucun département n'est enregistré dans la base de donnée</span>
            <div *ngIf="dept.errors?.required && (dept.touched || dept.dirty)"
                class="alert alert-danger">
                Le département du jardin est requis !
            </div>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!this.addJardinForm.valid">Créer un
            jardin</button>

        <div class="alert alert-success" *ngIf="this.messageValidation">
            <strong>Bravo !</strong> {{this.messageValidation}}
        </div>
        <div class="alert alert-danger" *ngIf="this.messageErreur">
            <strong>Echec !</strong> {{this.messageErreur}}
        </div>
    </form>
</div>

<div class="container">
    <a routerLink="/jardin">
        <input type="button" value="Mes jardins" class="btn btn-info" />
    </a>
</div>