<section class="about-us-area">
  <div class="container">
    <br><br><br><br>
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <!-- Section Heading -->
        <div class="section-heading">
          <h2>A propos de nous</h2>
          <p>Nous sommes au service de votre jardin</p>
        </div>



      </div>

      <div class="col-12 col-lg-6">
        <div class="alazea-benefits-area">
          <div class="row">
            <!-- Single Benefits Area -->
            <div class="col-12 col-sm-6">
              <div class="single-benefits-area">
                <img src="assets/img/core-img/b1.png" alt="">
                <h5>Un dictionnaire de plantes</h5>
                <p>Plus d'une centaine de plantes et leurs propriétés répertoriées</p>
              </div>
            </div>

            <!-- Single Benefits Area -->
            <div class="col-12 col-sm-6">
              <div class="single-benefits-area">
                <img src="assets/img/core-img/b2.png" alt="">
                <h5>Votre jardin</h5>
                <p>Possibilité de générer automatiquement votre jardin</p>
              </div>
            </div>

            <!-- Single Benefits Area -->
            <div class="col-12 col-sm-6">
              <div class="single-benefits-area">
                <img src="assets/img/core-img/b3.png" alt="">
                <h5>Des notifications personnalisées</h5>
                <p>Mise à jour des données météorologiques de votre jardin</p>
              </div>
            </div>

            <!-- Single Benefits Area -->
            <div class="col-12 col-sm-6">
              <div class="single-benefits-area">
                <img src="assets/img/core-img/b4.png" alt="">
                <h5>Une communauté</h5>
                <p>Un forum pour échanger des astuces et obtenir des conseils</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="border-line"></div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Area End ##### -->

<section class="cool-facts-area bg-img section-padding-100-0"
  style="background-image: url(assets/img/bg-img/cool-facts.png);">
  <div class="container">
    <div class="row">

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
          <div class="cf-icon">
            <img src="assets/img/core-img/cf1.png" alt="">
          </div>
          <div class="cf-content">
            <h2><span class="counter">20</span></h2>
            <h6>AWARDS</h6>
          </div>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
          <div class="cf-icon">
            <img src="assets/img/core-img/s1.png" alt="">
          </div>
          <div class="cf-content">
            <h2><span class="counter">10000</span>+</h2>
            <h6>PLANTES</h6>
          </div>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
          <div class="cf-icon">
            <img src="assets/img/core-img/cf3.png" alt="">
          </div>
          <div class="cf-content">
            <h2><span class="counter">500</span></h2>
            <h6>HAPPY USERS</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="border-line"></div>
      </div>
    </div>
  </div>

  <!-- Side Image -->
  <div class="side-img wow fadeInUp" data-wow-delay="500ms">
    <img src="assets/img/core-img/pot.png" alt="">
  </div>

</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Team Area Start ##### -->
<section class="team-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>NOTRE EQUIPE</h2>
          <p>Une equipe de professionnels expérimentés</p>
          <br><br>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/yohann.jpg" alt="">
          </div>
          <div class="team-member-info mt-30">
            <h5>Yohann BACHELIER</h5>
            <p>Référent Technique Front / Développeur</p>
          </div>
        </div>
      </div>

      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/flavien.jpg" alt="">
          </div>
          <div class="team-member-info mt-30">
            <h5>Flavien GOMILA</h5>
            <p>Expert métier / Développeur</p>
          </div>
        </div>
      </div>

      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/jm.png" alt="">
            <div class="team-member-info mt-30">
              <h5>Jeanne-Marie MATHEVET</h5>
              <p>Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/clara.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Clara CADET</h5>
              <p>Développeur</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/isaline.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Isaline MILLET</h5>
              <p>Référent Technique Back / Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/lucie.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Lucie MARTINEZ</h5>
              <p>Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/maxime.png" alt="">
            <div class="team-member-info mt-30">
              <h5>Maxime REMBERT</h5>
              <p>Expert Métier / Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/lea.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Léa COSTON</h5>
              <p>Chef de projet / Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/tmc.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Thierry Meng CLOAREC</h5>
              <p>Expert Métier / Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/gregoire.jpg" alt="">
            <div class="team-member-info mt-30">
              <h5>Gregoire BREBNER</h5>
              <p>Référent Technique / Développeur</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Team Member Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-team-member text-center mb-100">
          <div class="team-member-thumb">
            <img src="assets/img/mehdi.png" alt="">
            <div class="team-member-info mt-30">
              <h5>Mehdi Ben SALHA</h5>
              <p>Formateur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Team Area End ##### -->
