<!-- Preloader
<div class="preloader d-flex align-items-center justify-content-center" >
  <div class="preloader-circle"></div>
  <div class="preloader-img">
    <img src="assets/img/core-img/leaf.png" alt="">
  </div>
</div>-->


<!-- ##### Service Area Start ##### -->
<br><br><br><br>
<section class="our-services-area bg-gray section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>{{'accueil.title' | translate}}</h2>
          <p>{{'accueil.subtitle' | translate}}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <div class="alazea-service-area mb-100">

          <!-- Single Service Area -->
          <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
            <!-- Icon -->
            <div class="service-icon mr-30">
              <img src="assets/img/core-img/s1.png" alt="">
            </div>
            <!-- Content -->
            <div class="service-content">
              <h5>{{'jardin.title' | translate}}</h5>
              <p>{{'jardin.subtitle' | translate}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
            <!-- Icon -->
            <div class="service-icon mr-30">
              <img src="assets/img/core-img/s2.png" alt="">
            </div>
            <!-- Content -->
            <div class="service-content">
              <h5>{{'notification.title' | translate}}</h5>
              <p>{{'notification.subtitle' | translate}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
            <!-- Icon -->
            <div class="service-icon mr-30">
              <img src="assets/img/core-img/s3.png" alt="">
            </div>
            <!-- Content -->
            <div class="service-content">
              <h5>{{'dictionnaire.title' | translate}}</h5>
              <p>{{'dictionnaire.subtitle' | translate}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
            <!-- Icon -->
            <div class="service-icon mr-30">
              <img src="assets/img/core-img/b4.png" alt="">
            </div>
            <!-- Content -->
            <div class="service-content">
              <h5>{{'communaute.title' | translate}}</h5>
              <p>{{'communaute.subtitle' | translate}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="alazea-video-area bg-overlay mb-100">
          <img src="assets/img/bg-img/23.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Service Area End ##### -->

<!-- ##### Portfolio Area Start ##### -->
<section class="alazea-portfolio-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>NOTRE DICTIONNAIRE DE PLANTES</h2>
          <p>Nous collectionons les plantes par centaines.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row alazea-portfolio">

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design home-design wow fadeInUp"
        data-wow-delay="100ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/laitue.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/laitue.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Laitue">
            <div class="port-hover-text">
              <h3>Laitue</h3>
              <h5>Plante potagère</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/langue_de_cerf.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/langue_de_cerf.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Langue de cerf">
            <div class="port-hover-text">
              <h3>Langue de cerf</h3>
              <h5>Fougère</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden design wow fadeInUp" data-wow-delay="300ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/ronce_bleue.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/ronce_bleue.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Ronce bleue">
            <div class="port-hover-text">
              <h3>Ronce Bleue</h3>
              <h5>Rampante épineuse</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden office-design wow fadeInUp"
        data-wow-delay="400ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/laurier_cerise.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/laurier_cerise.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Laurier Cerise">
            <div class="port-hover-text">
              <h3>Laurier Cerise</h3>
              <h5>Arbuste</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design office-design wow fadeInUp"
        data-wow-delay="100ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/jacinthe_des_bois.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/jacinthe_des_bois.jpg"
            class="portfolio-img d-flex align-items-center justify-content-center" title="Jacinthe des bois">
            <div class="port-hover-text">
              <h3>Jacinthe des bois</h3>
              <h5>Plante vivace</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/amarante.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/amarante.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Amarante">
            <div class="port-hover-text">
              <h3>Amarante</h3>
              <h5>Plante dicotylédone</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Single Portfolio Area -->
      <div class="col-12 col-lg-6 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
        <!-- Portfolio Thumbnail -->
        <div class="portfolio-thumbnail bg-img" style="background-image: url(assets/img/lierre.jpg);"></div>
        <!-- Portfolio Hover Text -->
        <div class="portfolio-hover-overlay">
          <a href="assets/img/lierre.jpg" class="portfolio-img d-flex align-items-center justify-content-center"
            title="Lierre">
            <div class="port-hover-text">
              <h3>Lierre</h3>
              <h5>Liane Arbustive</h5>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Portfolio Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>LES FONCTIONNALITEES QUE NOUS VOUS PROPOSONS</h2>
          <p>Voici un aperçu de ce qui vous permettra de gérer facilement votre jardin qu'il soit décoratif ou potager,
            d'intérieur ou extétieur</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <!-- Single Blog Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-post mb-100">
          <div class="post-thumbnail mb-30">
            <a href="assets/img/exemple_jardin.JPG"><img src="assets/img/exemple_jardin.JPG" alt=""></a>
          </div>
          <div class="post-content">
            <a class="post-title">
              <h5>La création de votre jardin</h5>
            </a>
            <p class="post-excerpt" style="text-align: justify;">Grâce à notre application vous aurez la possibilité de
              créer votre jardin en précisant ses dimensions réelles, la composition du sol ...
              Votre jardin sera représenter graphiquement, vous pourrez y ajouter toute les plantes que vous souhaitez
              faire pousser sur sa position exacte au sein de votre jardin et bien plus encore ...

            </p>
          </div>
        </div>
      </div>

      <!-- Single Blog Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-post mb-100">
          <div class="post-thumbnail mb-30">
            <a href="assets/img/exemple_meteo.JPG"><img src="assets/img/exemple_meteo.JPG" alt="" href></a>
          </div>
          <div class="post-content">
            <a class="post-title">
              <h5>Un suivi météorologique personnalisé</h5>
            </a>
            <p class="post-excerpt" style="text-align: justify;">
              Notre application vous donnera les informations essentielles sur le climat de votre département.
              Ce qui vous permettra de suivre quotidiennement les évolutions de température, précipitation...
              De plus des méthodes internes permettrons d'estimer la quantité d'eau dans votre jardin en fonction des
              précipitations, de la consommation en eau des vos plantes ...
              Ce qui permettra de vous envoyer des notifications dès lors que votre jardin à besoin d'être arrosé si par
              exemple il n'a pas plus les jours précédents.
            </p>
          </div>
        </div>
      </div>

      <!-- Single Blog Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-post mb-100">
          <div class="post-thumbnail mb-30">
            <a href="assets/img/exemple_calendrier.JPG"><img src="assets/img/exemple_calendrier.JPG" alt=""></a>
          </div>
          <div class="post-content">
            <a href="assets/img/exemple_calendrier.JPG" class="post-title">
              <h5>Un calendrier annuel personalisé</h5>
            </a>
            <p class="post-excerpt" style="text-align: justify;">L'ajout de vos plantes dans vos
              jardins générera automatiquement un planning annuel vous indiquant les bonnes périodes
              pour semer, planter et récolter vos plantes potagère ou apprècier la floraison de vos
              plantes décoratives au bon moment.</p>
          </div>
        </div>
      </div>
      <div class="section-heading text-center">
        <h2>SI VOUS SOUHAITEZ UTILISER TOUTES LES FONCTIONNALITEES DE PUNCH PLANTE HEURE GRATUITEMENT INSCRIVEZ-VOUS
        </h2>
        <a href="inscription">
          <button class="btn alazea-btn mt-15">INSCRIPTION</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Area End ##### -->

<!-- ##### Subscribe Area Start ##### -->
<section class="subscribe-newsletter-area" style="background-image: url(assets/img/bg-img/subscribe.png);">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-5">
        <!-- Section Heading -->
        <div class="section-heading mb-0">
            <h2>REJOIGNEZ-NOUS</h2>
          <p>Abonnez-vous à notre newsletter et soyez au courant des dernières nouveautés</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="subscribe-form">
          <a href="mailto:intiformintilyon2020@gmail.com?subject=Demande%20inscription%20newsletter&body=Inscrivez-moi%20%C3%A0%20votre%20newsletter%20%21%0D%0A%0D%0ANom%20complet%20%3A%0D%0A%0D%0AO%C3%B9%20avez-vous%20entendu%20parler%20de%20nous%20%3F">
            <button class="btn alazea-btn mt-15">Abonnez-vous ici</button>
            </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Subscribe Side Thumbnail -->
  <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
    <img class="first-img" src="assets/img/core-img/leaf.png" alt="">
  </div>
</section>
<!-- ##### Subscribe Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-5">
        <!-- Section Heading -->
        <div class="section-heading">
          <h2>FORMULAIRE DE CONTACT</h2>
          <p>Envoyez-nous un message, nous vous répondrons au plus vite ! </p>
        </div>
        <!-- Contact Form Area -->
        <div class="contact-form-area mb-100">
          <form action="mailto:intiformintilyon2020@gmail.com?" method="post" enctype="text/plain">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="contact-name" placeholder="Votre nom">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="contact-email" placeholder="Votre email">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="contact-subject" placeholder="Sujet">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" id="message" cols="30" rows="10"
                    placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn alazea-btn mt-15">Envoyer le message</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <!-- Google Maps -->
        <div class="map-area mb-100">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.14504971803!2d4.8174077157748565!3d45.78832171977795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eb3b87fa4ff9%3A0xb0846744313be70e!2s84%20Quai%20Joseph%20Gillet%2C%2069004%20Lyon!5e0!3m2!1sfr!2sfr!4v1585842494937!5m2!1sfr!2sfr"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Contact Area End ##### -->




<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
<!-- <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
<!-- <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
<!-- <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
<!-- <script src="js/active.js"></script> -->
