.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.not-allowed {
    cursor: not-allowed;
}

.custom-tomato {
    cursor: url('src/assets/img/cursor-img/tomato.png'), grabbing;
}

.custom-cabbage {
    cursor: url('src/assets/img/cursor-img/cabbage.png'), grabbing;
}

.chemin {
    background-color: #993300 ;
}

.obstacle{
    background-color: black;
}

.plante{
    background-color: green;
}

.vide {
    background-color: #ccccb3
    ;
    
}