<div>
    <form>

        <table border="3px solid black">
            <tbody>
                <tr *ngFor="let ligne of this.matrice; let index = index; trackBy:trackByIndex;">
                    <td *ngFor="let plante of this.matrice[index]; let index2 = index; trackBy:trackByIndex;" width=20px
                        height=20px (click)="modifOnClick(index, index2)">
                        <div *ngIf="matrice[index][index2]=='chemin'" class="chemin">
                            &nbsp;
                        </div>
                        <div *ngIf="matrice[index][index2]=='obstacle'" class="obstacle">
                            &nbsp;
                        </div>
                        <div *ngIf="matrice[index][index2]==''" class="vide">
                            &nbsp;
                        </div>
                        <div *ngIf="matrice[index][index2]!='chemin'&&matrice[index][index2]!='obstacle'&& matrice[index][index2].length"
                            class="plante">
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- On modélise le jardin à 1pixel = 1cm -->
        <canvas id="carteJardin" height=({{this.jardin.width}}*100) width=({{this.jardin.length}})*100>Représentation
            graphique de votre jardin</canvas>


        <!-- Légende du code couleur de la carte  -->
        <legend><strong>Légende</strong></legend>
        <p>(sur ce tableau un carreau fait 5cm x 5cm)</p>
        <table>
            
            <thead>
                <tr>
                    <td>Couleur</td>
                    <td> Objet</td>
                </tr>

            </thead>
            <tbody>
                <tr (click)="modifSelection('')">
                    <td class="vide"></td>
                    <td>Vide</td>
                </tr>
                <tr (click)="modifSelection('obstacle')">
                    <td class="obstacle"></td>
                    <td>Obstacle</td>
                </tr>
                <tr (click)="modifSelection('chemin')">
                    <td class="chemin"></td>
                    <td>Chemin</td>
                </tr>
                <tr (click)="modifSelection('plante')">
                    <td class="plante"></td>
                    <td>Plante</td>
                </tr>
            </tbody>
        </table>


        <!-- Affichage de la sélection active :  -->
        Selection active = <div *ngIf="this.selection== ''">Vide</div>
        {{this.selection}}


        <!-- Affiche la liste des plantes et autre pour sélectionner et placer dans notre plan -->

        <!-- <select (change)="modifSelection($value)">
            <option class="selected" value="" >Vide</option>
            <option value="chemin">Chemin</option>
            <option value="obstacle">Obstacle</option>
            <option *ngFor="let plant of this.plantes" value="plante">
                {{plant.modelPlant.commun}}
            </option>
        </select> -->

        <br><button class="btn btn-success"><img src="../../../../assets/img/icon-img/save-24px.svg"/> Sauvgarder</button>

        <button class="btn btn-danger" (click)=remiseAZero()><img src="../../../../assets/img/icon-img/warning-24px.svg"/> Remettre à zéro</button>

    </form>

    <div class="row">
        <!-- Liste des plantes dans le Jardin -->
        <div class="col 12 col-lg-5" style="padding-left: 0%;">
            <h2>Liste des plantes de mon jardin</h2>
            <hr>
            <table border="1px solid grey">
                <thead>
                    <tr>
                        <td> Nom Commun </td>
                        <td> Emplacement </td>
                        <td> Taille </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of this.plantes">
                        <td>{{p.modelPlant.commun}}</td>
                        <td>{{p.coordonnees}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>