/* titre haut de page */
.titre {
    text-align: center;
    border: solid ;
    border-color: #70c745;
    padding-left: 5%;
    padding-right: 5%;
}

.label {
    font-weight: bold;
    margin-top: 1%;
}


/* div boutton pas de page */
.bottompage {
    text-align: right;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right:5%;
}

.bottompage,a {
    margin-right: 5%;
}
