<div class="container">

    <form [formGroup]="updateJardinForm">
        <label>
            <h2> Modification du jardin {{this.jardin.nom}} </h2>
        </label>

        Nom : {{this.jardin.nom}}
        <br>
        <input id="nom" type="text" [(ngModel)]="this.jardin.nom" formControlName="nom" name="nom">

        <br>
        Sol : {{this.jardin.sol}}
        <div>
            <label>Sol :</label>
            <select formControlName="sol" id="sol" [(ngModel)]="this.jardin.sol" name="sol">
                <option value=true>Sableux</option>
                <option class="selected" value=false>Limono-argileux</option>
                <option value=false>Argilo-sableux</option>
                <option value=false>Argilo-limoneux</option>
                <option value=false>Argileux</option>
            </select>
        </div>
        <br>
        Longueur : {{this.jardin.Longueur}}
        <br>
        <input id="longeur" type="number" [(ngModel)]="this.jardin.longueur" formControlName="longeur" name="longeur">
        <br>
        Largeur : {{this.jardin.Largeur}}
        <br>
        <input id="largeur" type="number" [(ngModel)]="this.jardin.largeur" formControlName="largeur" name="largeur">
        <br>
        Département : {{this.jardin.departement}}
        <br>
        <input id="departement" type="departementUptadeDto" [(ngModel)]="this.jardin.departement"
            formControlName="departement" name="departement">
        <br>
        <button type="submit">Modifier</button>
    </form>
</div>