<div class="container">
    <!-- Entete de jardin-->
    <app-entete-jardin></app-entete-jardin>

    <!-- Affichage du jardin selectionné et de ses caracteristiques -->
    <div class="row">
        <div class="col-12 col-lg-7" style="padding-left: 0%;">
            <h2>Détails de mon jardin </h2>
            <h2> <i>{{jardin.name}} </i> </h2>
            <hr>
            <label class="label">ID : </label><span> {{jardin.identifier}}</span>
            <br>
            <label class="label">Nom : </label>{{jardin.name}}
            <br>
            <label class="label">Longueur : </label>{{jardin.length}}
            <br>
            <label class="label">Largeur : </label>{{jardin.width}}
            <br>
            <label class="label">Sol : </label>{{jardin.ground}}
            <br>
            <label class="label">Département : </label>{{jardin.dept.name}} - ({{jardin.dept.depNum}})
            <br>
            <label class="label">Liste des plantes présentes dans mon jardin : </label>
            <p *ngIf="!emptyliste"><i>Il n'y a pas de plantes dans mon jardin</i></p>
            <p *ngIf="!emptyliste"><i>Il y a </i>{{this.nombre}}<i> plantes dans mon jardin</i></p>

        </div>
        <!-- Fin du tableau avec les plantes -->
        <!-- Affichage d'une image à droite du tableau -->
        <div class="col-12 col-lg-5">
            <div class="image_content">
                <img src="assets/img/detail_jardin.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Affichage du tableau avec la liste des plantes utilisateurs et leurs caracteristiques presentes dans le jardin uniquement si la liste n'est pas vide -->
    <table class="table table-hover" *ngIf="!emptyliste">
        <thead>
            <tr>
                <th>
                    <h5>ID</h5>
                </th>
                <th>
                    <h5>Nom</h5>
                </th>
                <th>
                    <h5>Date de plantation</h5>
                </th>
                <th>
                    <h5>Date de semis</h5>
                </th>
                <th>
                    <h5>Etat de santé</h5>
                </th>
                <th>
                    <h5>Etat de la plante</h5>
                </th>
                <th>
                    <h5>Actions</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planteUtilisateur of this.plantesParJardin">
                <td>{{planteUtilisateur.identifiant}}</td>
                <td>{{planteUtilisateur.modelPlant.commun}}</td>
                <td>{{planteUtilisateur.plantingDate}}</td>
                <td>{{planteUtilisateur.semiDate}}</td>
                <td>{{planteUtilisateur.healthStage}}</td>
                <td>{{planteUtilisateur.plantStage}}</td>
                <!-- Possibilité de retirer une plante utilisateur du jardin -->
                <td><button class="btn alazea-btn mt-15"
                        (click)="this.supprimer(planteUtilisateur.identifiant)">Retirer
                        cette
                        plante de mon jardin</button>
                <!-- Possibilité de mettre à jour les infos d'une plante utilisateur -->
                    &nbsp;&nbsp;<a routerLink="/jardin/detail/updateplante">
                        <button class="btn alazea-btn mt-15"
                            (click)="this.stockagePlanteUtilisateur(planteUtilisateur)">Mettre
                            à jour cette plante</button>
                    </a>
            </tr>
        </tbody>
    </table>
</div>

<!-- Affichage de boutons en fin de page pour ajouter une plante / modifier les infos du jardin -->
<!-- Affichage de boutons en fin de page pour retourner a la liste des jardins de l'utilisateur -->
<div class="container">
    <div class="bottompage">
        <a routerLink="/jardin/detail/addplante">
            <button class="btn alazea-btn mt-15">Ajouter une plante à mon jardin</button>
        </a>
        <a routerLink="/jardin/update">
            <button class="btn alazea-btn mt-15">Modifier les caractéristiques de mon jardin</button>
        </a>
        <a routerLink="/jardin">
            <button class="btn alazea-btn mt-15">Mes jardins</button>
        </a>
    </div>
</div>