<div class="container" style="margin-top: 3%;">
    <!-- Entete de jardin-->
    <app-entete-jardin></app-entete-jardin>
    <br><br>
    <div class="row" >
        <!-- div pour le formulaire de mise à jour -->
        <div class="col12 col-lg-5" style="padding-left: 0%;">
            <h2>Mise à jour de ma plante</h2>
            <hr>
            <!-- Affichage des infos non modifiables -->
            <label class="label">ID : </label> <span> {{planteUtilisateur.identifiant}} </span><br>
            <label class="label">Nom : </label> <span> {{planteUtilisateur.modelPlant.commun}} </span>
            <!-- Debut du formulaire de modification --> 
            <form [formGroup]="updateplanteForm" (ngSubmit)="this.update()">
                <div class="form-group">
                    <label class="label" for="plantingDate">Date de plantation : </label>
                    ({{planteUtilisateur.plantingDate}})
                    <input type="date" id="plantingDate" class="form-control" formControlName="plantingDate">
                </div>
                <div class="form-group">
                    <label class="label" for="semiDate">Date de semis : </label> ({{planteUtilisateur.semiDate}})
                    <input type="date" id="semiDate" class="form-control" formControlName="semiDate">
                </div>
                <div class="form-group">
                    <label class="label" for="healthStage">Etat de santé : </label> ({{planteUtilisateur.healthStage}})
                    <select id="healthStage" class="form-control" formControlName="healthStage">
                        <option value="bonneSante">En bonne santé</option>
                        <option value="moyenne">Moyenne</option>
                        <option value="morte">Morte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label" for="plantStage">Etat de la plante : </label>
                    ({{planteUtilisateur.plantStage}})
                    <select id="plantStage" class="form-control" formControlName="plantStage">
                        <option value="semis">Semis</option>
                        <option value="jeunePousse">Jeune pousse</option>
                        <option value="plant">Plante</option>
                        <option value="fleuri">Plante fleurie</option>
                        <option value="recolte">Plante à récolter</option>
                    </select>
                </div>
                <button type="submit" class="btn alazea-btn mt-15"
                    [disabled]="updateplanteForm.invalid">Valider</button>
                <br>
            </form>
            <!-- Fin du formulaire de modification-->
            <br>
            <span class="alert alert-success" *ngIf="messageValidation">{{messageValidation}}</span>
            <span class="alert alert-danger" *ngIf="messageErreur">{{messageErreur}}</span>
        </div>
        <!-- Fin de la div gauche -->
        <!-- Ajout d'images à droite du formulaire -->
        <div class="col-12 col-lg-7">
            <div class="image_content">
                <img src="assets/img/update_plante.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Ajout de boutons en bas de la page pour retourner à mon jardin / a mes jardins -->
<div class="container">
    <div class="bottompage">
        <a routerLink="/jardin/detail">
            <button class="btn alazea-btn mt-15">Retour à mon jardin</button>
        </a>
        <a routerLink="/jardin">
            <button class="btn alazea-btn mt-15">Mes jardins</button>
        </a>
    </div>
</div>