<div class="container">
    <h2>Mise à jour de votre plante</h2>
    <h2>ID : {{planteUtilisateur.identifiant}} | {{planteUtilisateur.modelPlant.commun}}</h2>
    <form [formGroup]="updateplanteForm" (ngSubmit)="this.update()">
        <div class="form-group">
            <label for="plantingDate">Date de plantation : </label> ({{planteUtilisateur.plantingDate}})
            <input type="date" id="plantingDate" class="form-control" formControlName="plantingDate">
        </div>
        <div class="form-group">
            <label for="semiDate">Date de semis : </label> ({{planteUtilisateur.semiDate}})
            <input type="date" id="semiDate" class="form-control" formControlName="semiDate">
        </div>
        <div class="form-group">
            <label for="healthStage">Etat de santé : </label> ({{planteUtilisateur.healthStage}})
            <select id="healthStage" class="form-control" formControlName="healthStage">
                <option value="x">X</option>
                <option value="y">Y</option>
            </select>
        </div>
        <div class="form-group">
            <label for="plantStage">Etat de la plante : </label> ({{planteUtilisateur.plantStage}})
            <select id="plantStage" class="form-control" formControlName="plantStage">
                <option value="x">X</option>
                <option value="y">Y</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="updateplanteForm.invalid">Valider</button>
        <br><br>
    </form>
    <br><br>
    <span class="alert alert-success" *ngIf="messageValidation">{{messageValidation}}</span>
    <span class="alert alert-danger" *ngIf="messageErreur">{{messageErreur}}</span>
    <br><br>
    <button class="btn btn-info" (click)="retour()">Retour à votre jardin</button>
</div>



