<div class="container">
    <form [formGroup]="choixDonnee" (ngSubmit)="getMeteo()">
        <div class="row">
            <p> </p>
            <div class="form-group" style="display:inline">
                Consulter les
                <input type="number" [(ngModel)]="this.numelem" formControlName="numelem"> derniers jours
                <button type="submit" class="btn alazea-btn mt-15" [disabled]="!this.choixDonnee.valid">Afficher</button>

            </div>
        </div>
       
    </form>




    <label>
        <h2>Meteo</h2>
    </label>
    <hr>
    <div *ngIf="tableau">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Température min</th>
                    <th>Température max</th>
                    <th>Ensoleillement</th>
                    <th>Précipitation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of this.allmeteo">
                    <td>{{m.dateMeteo}}</td>
                    <td>{{m.tempMin}}</td>
                    <td>{{m.tempMax}}</td>
                    <td>{{m.radiation}}</td>
                    <td>{{m.rain}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf='graph'>
        <google-chart #chart 
        [title]="title" 
        [type]="type" 
        [data]="data" 
        [columnNames]="columnNames" 
        [options]="options"
        [width]="width" 
        [height]="height">
        </google-chart>
    </div>
</div>