<div class="container">
    <label><strong> THIS PERIODE TYPE  </strong></label> {{this.periode.type}}
    <form [formGroup]="updatePeriodeForm" (ngSubmit)="this.update()">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Propriétés actuelles</th>
                    <th>Changement ?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Type actuel : </label> {{this.periode.type}}
                    </td>
                    <td>
                        Nouveau type ?
                        <select formControlName="type" id="type" [(ngModel)]="this.periode.type" name="type">
                            <option value='rempotage'>Rempotage</option>
                            <option class="selected" value='floraison'>Floraison</option>
                            <option value='fructification'>Fructifiation</option>
                            <option value='taille'>Taille</option>
                            <option value='semis'>Semis</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Plante actuelle : </label> {{this.periode.plante}}
                    </td>
                    <td>
                        Nouvelle plante ? 
                        <select class="form-control" id="planteModel" formControlName="planteModel" name="planteModel"
                            [(ngModel)]="this.periode.plante">
                            <option *ngFor="let plante of this.allPlantes">{{plante.nomCommun}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Date de début actuelle : </label> {{this.periode.dateDebut}}
                    </td>
                    <td>
                        Nouvelle date ?
                        <input id="dateDebut" type="date"  [(ngModel)]="this.jardin.dateDebut" formControlName="dateDebut"
                            name="dateDebut" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Date de fin actuelle : </label> {{this.periode.dateFin}}
                    </td>
                    <td>
                        Nouvelle date ?
                        <input id="dateFin" type="date" [(ngModel)]="this.periode.dateFin" formControlName="dateFin"
                        name="dateFin" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Département actuel : </label> {{this.periode.dept}}
                    </td>
                    <td>
                        Nouveau département ?
                        <select class="form-control" id="dept" formControlName="dept" name="dept"  [(ngModel)]="this.jardin.dept">
                            <option *ngFor="let depart of this.allDepartements">{{depart.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
            <button type="submit" class="btn btn-primary">Modifier</button>
            <br>
            <div class="alert alert-success" *ngIf="messageValidation">
                <strong>Bravo !</strong> {{this.messageValidation}}
            </div>
            <div class="alert alert-danger" *ngIf="messageErreur">
                <strong>Echec !</strong> {{this.messageErreur}}
            </div>
        </table>
    </form>
</div>


<div class="container">
    <a routerLink="/jardin">
        <input type="button" value="Mes jardins" class="btn btn-info" />
    </a>
</div>