<div class="row">
    
        
    <table border="3px solid black">
        <tbody>
            <tr *ngFor="let ligne of this.matrice; let index = index; trackBy:trackByIndex;">
                <td *ngFor="let plante of this.matrice[index]; let index2 = index; trackBy:trackByIndex;" width=20px
                    height=20px title="{{matrice[index][index2]}}">
                    <a routerLink="/jardin/graphique/{{this.jardin.identifier}}">
                        <div *ngIf="matrice[index][index2]=='Chemin'" class="chemin">
                            &nbsp;
                        </div>
                        <div *ngIf="matrice[index][index2]=='Obstacle'" class="obstacle">
                            &nbsp;
                        </div>
                        <div *ngIf="matrice[index][index2]==''" class="vide">
                            &nbsp;
                        </div>
                        <div *ngIf="(matrice[index][index2] != 'Chemin') && (matrice[index][index2] != 'Obstacle') && matrice[index][index2]"
                            class="plante">
                            &nbsp;
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
            <p>(Un carreau de cette grille représente un carré de votre jardin de 50x50cm)</p>

            <!-- Légende du code couleur de la carte  -->
            <legend><strong>Légende</strong></legend>
            <table>
                <thead>
                    <tr>
                        <td>Couleur</td>
                        <td>&nbsp; Objet</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="vide"></td>
                        <td>&nbsp; Vide</td>
                    </tr>
                    <tr>
                        <td class="obstacle"></td>
                        <td>&nbsp; Obstacle</td>
                    </tr>
                    <tr>
                        <td class="chemin"></td>
                        <td>&nbsp; Chemin</td>
                    </tr>
                    <tr>
                        <td class="plante"></td>
                        <td>&nbsp; Plante</td>
                    </tr>
                </tbody>
            </table>



</div>