<div class="row">
    
        
            <table border="3px solid black">
                <tbody>
                    <tr *ngFor="let ligne of this.matrice; let index = index; trackBy:trackByIndex;">
                        <td *ngFor="let plante of this.matrice[index]; let index2 = index; trackBy:trackByIndex;"
                            width=20px height=20px title="{{matrice[index][index2]}}" >
                            <div *ngIf="this.matrice[index][index2]=='Ohemin'" class="chemin">
                                &nbsp;
                            </div>
                            <div *ngIf="this.matrice[index][index2]=='Obstacle'" class="obstacle">
                                &nbsp;
                            </div>
                            <div *ngIf="this.matrice[index][index2]==''" class="vide">
                                &nbsp;
                            </div>
                            <div *ngIf="(this.matrice[index][index2]!='chemin') && (this.matrice[index][index2]!='obstacle') && (this.matrice[index][index2].length)"
                                class="plante">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>(Un carreau de cette grille représente un carré de votre jardin de 50x50cm)</p>

            <!-- Légende du code couleur de la carte  -->
            <legend><strong>Légende</strong></legend>
            <table>
                <thead>
                    <tr>
                        <td>Couleur</td>
                        <td>Objet</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="vide"></td>
                        <td>Vide</td>
                    </tr>
                    <tr>
                        <td class="obstacle"></td>
                        <td>Obstacle</td>
                    </tr>
                    <tr>
                        <td class="chemin"></td>
                        <td>Chemin</td>
                    </tr>
                    <tr>
                        <td class="plante"></td>
                        <td>Plante</td>
                    </tr>
                </tbody>
            </table>



</div>