<div>
    <h3>NavBar temporaire</h3>
        <ul>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin">All Jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/create">Create jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/detail">Detail jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/update">modifier jardin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/jardin/detail/addplante">Ajouter une plante au jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/plant">Admin - all plantes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/plant/create">Admin - nouvelle plante</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/period">All period</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/period/create">Ajouter periode</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
        </ul>
</div>
