<!-- NAVBAR TEMPORAIRE -->
<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h3>NavBar temporaire</h3>
        <ul>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin">All Jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/create">Create jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/detail">Detail jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jardin/update">modifier jardin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/jardin/detail/addplante">Ajouter une plante au jardin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/plant">Admin - all plantes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/plant/create">Admin - nouvelle plante</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/period">All period</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/period/create">Ajouter periode</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
        </ul>
    </nav>
</div>
<!-- FIN NAVBAR TEMPORAIRE  -->



<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- ***** Navbar Area ***** -->
    <div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 90px;"><div class="alazea-main-menu" style="width: 1903px; position: fixed; top: 0px; z-index: inherit;">
      <div class="classy-nav-container breakpoint-off light left">
          <div class="container">
              <!-- Menu -->
              <nav class="classy-navbar justify-content-between" id="alazeaNav">

                  <!-- Nav Brand -->
                  <a href="index.html" class="nav-brand"><img src="assets/img/core-img/logo.png" alt=""></a>

                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>
                      <!-- Navbar End -->
                  <!-- </div> -->
              </nav>

          </div>
      </div>
  </div></div>
    <div class="alazea-main-menu" style="width: 1903px; position: fixed; top: 0px; z-index: inherit;">
      <div class="classy-nav-container breakpoint-off light left">
          <div class="container">
              <!-- Menu -->
              <nav class="classy-navbar justify-content-between" id="alazeaNav">

                  <!-- Nav Brand -->
                  <a href="index.html" class="nav-brand"><img src="assets/img/core-img/logo.png" alt=""></a>

                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>

                  <!-- Menu -->
                  <div class="classy-menu">

                      <!-- Close Button -->
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>

                      <!-- Navbar Start -->
                      <div class="classynav">
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li><a href="about.html">About</a></li>
                              <li class="cn-dropdown-item has-down"><a href="#">Pages</a>
                                  <ul class="dropdown">
                                      <li><a href="index.html">Home</a></li>
                                      <li><a href="about.html">About</a></li>
                                      <li class="has-down"><a href="shop.html">Shop</a>
                                          <ul class="dropdown">
                                              <li><a href="shop.html">Shop</a></li>
                                              <li><a href="shop-details.html">Shop Details</a></li>
                                              <li><a href="cart.html">Shopping Cart</a></li>
                                              <li><a href="checkout.html">Checkout</a></li>
                                          </ul>
                                      <span class="dd-trigger"></span></li>
                                      <li class="has-down"><a href="portfolio.html">Portfolio</a>
                                          <ul class="dropdown">
                                              <li><a href="portfolio.html">Portfolio</a></li>
                                              <li><a href="single-portfolio.html">Portfolio Details</a></li>
                                          </ul>
                                      <span class="dd-trigger"></span></li>
                                      <li class="has-down"><a href="blog.html">Blog</a>
                                          <ul class="dropdown">
                                              <li><a href="blog.html">Blog</a></li>
                                              <li><a href="single-post.html">Blog Details</a></li>
                                          </ul>
                                      <span class="dd-trigger"></span></li>
                                      <li><a href="contact.html">Contact</a></li>
                                  </ul>
                              <span class="dd-trigger"></span></li>
                              <li><a href="shop.html">Shop</a></li>
                              <li><a href="portfolio.html">Portfolio</a></li>
                              <li><a href="contact.html">Contact</a></li>
                          </ul>

                          <!-- Search Icon -->
                          <div id="searchIcon">
                              <i class="fa fa-search" aria-hidden="true"></i>
                          </div>

                      </div>
                      <!-- Navbar End -->
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
