<div class="container">
    <h2>Ajout d'une plante dans votre jardin</h2>
    <form [formGroup]="planteForm" (ngSubmit)="this.ajouter()">
        <div class="form-group">
            <label for="commun">Nom de la plante</label>
            <select id="commun" class="form-control" formControlName="commun">
                <option *ngFor="let plante of this.allPlantes" [ngValue]="p">{{plante.commun}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="plantingDate">Date de plantation : </label>
            <input type="date" id="plantingDate" class="form-control" formControlName="plantingDate">
        </div>
        <div class="form-group">
            <label for="semiDate">Date de semis : </label>
            <input type="date" id="semiDate" class="form-control" formControlName="semiDate">
        </div>
        <div class="form-group">
            <label for="healthStage">Etat de santé : </label>
            <select id="healthStage" class="form-control" formControlName="healthStage">
                <option value="x">X</option>
                <option value="y">Y</option>
            </select>
        </div>
        <div class="form-group">
            <label for="plantStage">Etat de la plante : </label>
            <select id="plantStage" class="form-control" formControlName="plantStage">
                <option value="x">X</option>
                <option value="y">Y</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="planteForm.invalid">Valider</button>
        <br><br>
    </form>
    <span class="alert alert-success" *ngIf="messageValidation">{{messageValidation}}</span>
    <span class="alert alert-danger" *ngIf="messageErreur">{{messageErreur}}</span>
    <br><br>
    <button class="btn btn-info" (click)="retour()">Retour à votre jardin</button>
</div>

