<div class="container">

    <!-- Utilisation de l'entete-->
    <app-entete-jardin></app-entete-jardin>


    <div class="row">
        <!-- Formulaire d'ajout d'une plante au jardin -->
        <div class="col 12 col-lg-5" style="padding-left: 0%;">
            <h2>Ajout d'une plante dans mon jardin</h2>
            <hr>
            <div>
                <form [formGroup]="planteForm" (ngSubmit)="this.ajouter()">

                    <label class="label" for="commun">Nom de la plante</label>
                    <select id="commun" class="form-control" formControlName="commun" required
                        [(ngModel)]="this.plante.modelPlant">
                        <option *ngFor="let planteModel of this.allPlantes" [ngValue]="planteModel">
                            {{planteModel.commun}}</option>
                    </select>
                    <br>
                    <label class="label" for="plantingDate">Date de plantation : </label>
                    <input type="date" id="plantingDate" class="form-control" formControlName="plantingDate">
                    <br>
                    <label class="label" for="semiDate">Date de semis : </label>
                    <input type="date" id="semiDate" class="form-control" formControlName="semiDate">
                    <br>
                    <label class="label" for="healthStage">Etat de santé : </label>
                    <select id="healthStage" class="form-control" formControlName="healthStage">
                        <option value="bonneSante">En bonne santé</option>
                        <option value="moyenne">Moyenne</option>
                        <option value="morte">Morte</option>
                    </select>
                    <br>
                    <label class="label" for="plantStage">Etat de la plante : </label>
                    <select id="plantStage" class="form-control" formControlName="plantStage">
                        <option value="semis">Semis</option>
                        <option value="jeunePousse">Jeune pousse</option>
                        <option value="plant">Plante</option>
                        <option value="fleuri">Plante fleurie</option>
                        <option value="recolte">Plante à récolter</option>
                    </select>
                    <br>
                    <button type="submit" class="btn alazea-btn mt-15"
                        [disabled]="!this.planteForm.valid">Valider</button>
                    <br>
                </form>
                <span class="alert alert-success" *ngIf="messageValidation">{{this.messageValidation}}</span>
                <span class="alert alert-danger" *ngIf="messageErreur">{{this.messageErreur}}</span>
            </div>
        </div>
        <!-- Fin du formualaire -->

        <!-- Ajout d'images à droite -->
        <div class="col 12 col-lg-7">
            <h2>Liste des plantes de mon jardin</h2>
            <hr>
            <div *ngFor="let p of this.listePlanteUtil">
                {{p.modelPlant.commun}}
                <small><i class="fa fa-times" aria-hidden="true" style="color: red;" (click)="suppprimer(p.identifiant)"></i></small>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination" >
                    <li class="page-item" *ngIf="this.pageActiveUtil>0">
                        <a class="page-link" (click)="this.getListePlanteUtilisateur(0)">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item" *ngIf="this.pageActiveUtil>0">
                        <a class="page-link" (click)="this.getListePlanteUtilisateur(this.pageActiveUtil-1)">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of pageTotalUtil">
                        <a class="page-link" id="{{page}}" (click)="this.getListePlanteUtilisateur(page)">{{page+1}}</a>
                    </li>
                    <li class="page-item" *ngIf="this.pageActiveUtil<this.pageMaxUtil-1">
                        <a class="page-link" (click)="this.getListePlanteUtilisateur(this.pageActiveUtil+1)">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item" *ngIf="this.pageActiveUtil<this.pageMaxUtil-1">
                        <a class="page-link" (click)="this.getListePlanteUtilisateur(this.pageMaxUtil-1)">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- Fin de la ligne row -->
    <br>



</div>

<!-- Ajout de boutons en bas de page pour retourner au jardin / a mes jardins -->
<div class="container">
    <div class="bottompage">
        <a routerLink="/jardin/detail">
            <button class="btn alazea-btn mt-15">Retour à mon jardin</button>
        </a>
        <a routerLink="/jardin">
            <button class="btn alazea-btn mt-15">Mes jardins</button>
        </a>
    </div>
</div>