.mois {
    background: #2A3027;
    color: white;
    height: 40px;
    border-bottom: 3px solid #fff;
    border-right: 2px solid #fff;
    padding: 5px;
    text-align: center;
    font-size: large;
}

.taille {
    /* max-width: 90%; */
    margin-left: 5%;
    margin-right: 5%;
}

table {
    width: 100%;
  }

.plante {
    background-color: #C9C1B7;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 18px;
    font: bold;
}

.neutre {
    background-color: #e6ffe6;
}

.rempotage {
    background-color: #D1DCB0;
}

.floraison {
    background-color: #CADB8D;
}

.fructification {
    background-color: #A1C083;
}

.taille {
    background-color: #9AAF8C;
}

.semis {
    background-color: #B7CE81;
}