<br><br>

<table>
    <tr>
        <th class="mois" colspan="6">Plante</th>
        <th class="mois" colspan="6">Jan</th>
        <th class="mois" colspan="6">Fev</th>
        <th class="mois" colspan="6">Mar</th>
        <th class="mois" colspan="6">Avr</th>
        <th class="mois" colspan="6">Mai</th>
        <th class="mois" colspan="6">Jui</th>
        <th class="mois" colspan="6">Jui</th>
        <th class="mois" colspan="6">Aou</th>
        <th class="mois" colspan="6">Sep</th>
        <th class="mois" colspan="6">Oct</th>
        <th class="mois" colspan="6">Nov</th>
        <th class="mois" colspan="6">Dec</th>
    </tr>

    <tr>
        <td class="plante" colspan="6">Tomate</td>
        <td class="neutre" colspan="3"></td>
        
    </tr>
</table>