<div class = 'container'>
    <h2>Inscription</h2>

    <form [formGroup]= 'inscriptionForm' (ngSubmit) = 'save()' name="insForm">
        <div class = "formGroup">
            <label for="firstName"> Prénom* : </label>
                <input type="text" class="form-control" [(ngModel)]="this.util.firstName" formControlName="firstName" name="firstName" required>
            <label for="lastName"> Nom* : </label>
                <input type="text" class="form-control" [(ngModel)]="this.util.lastName" formControlName="lastName" name="lastName" required>
            <label for="pseudo"> Pseudonyme* : </label>
                <input type="text" class="form-control" [(ngModel)]="this.util.pseudo" formControlName="pseudo" name="pseudo" required>
            <label for="mail"> Email* : </label>
                <input type="email" class="form-control" [(ngModel)]="this.util.mail" formControlName="mail" name="mail" required>
            <label for="pwd"> Nouveau mot de passe* : </label>
                <input type="password" class="form-control" [(ngModel)]="this.util.pwd" formControlName="pwd" name="pwd" required pattern=".{8,}" title="Mot de passe d'au moins 8 caractères">
            <div *ngIf="!this.pwd.valid && this.pwd.touched" class="alert alert-danger">
                Le mot de passe doit contenir au moins 1 chiffre, 1 majuscule, 1 minuscule, et 8 caractères au total.
            </div>
            <label for="pwd2"> Retapez le mot de passe* : </label>
                <input type="password" class="form-control" [(ngModel)]="this.pwd2" formControlName="pwd2" name="pwd2" required pattern=".{8,}" title="Mot de passe d'au moins 8 caractères" (blur)="this.comparePwd()">
 
            <div *ngIf="!samePwd && this.util.pwd.length > 7 && this.pwd2.length > 7" class="alert alert-danger">
                Les mots de passe entrés ne sont pas les mêmes
            </div>
            <label for="phone"> Numéro de telephone : </label>
                <input type="tel" class="form-control" [(ngModel)]="this.util.phone" formControlName="phone" name="phone">
            <p>* Champs requis</p>
            <button type="submit" class="btn alazea-btn mt-15" [disabled]="!this.inscriptionForm.valid || this.util.pwd !== this.pwd2">Enregistrer</button> 
            <div *ngIf="this.messageValidation.length">
                <div class="alert alert-fail" *ngIf="this.error">
                    {{this.messageValidation}}
                </div>
                <div class="alert alert-success" *ngIf="!this.error">
                    {{this.messageValidation}}
                </div>
            </div>
        </div>

    </form>



</div>
