<script>
    $(document).ready(function () {

        $('.chips-placeholder').materialChip({
            placeholder: 'Enter a tag',
            secondaryPlaceholder: '+Tag',
        });
    })
</script>

<div class="container">
    <app-entete-dashboard></app-entete-dashboard>

    <h2>Mes informations</h2>
    <hr>
    <div id='fond'>
        <br>
        <div class="row">

            <div class="col-lg-6 col-sm-8">
                <h5>Nom actuel : </h5> {{this.utilisateur.lastName}}
                <br><br>
            </div>

            <div class="col-lg-6 col-sm-6">
                <h5>Prénom actuel : </h5> {{this.utilisateur.firstName}}
                <br><br>
            </div>

            <div class="col-lg-6 col-sm-6">
                <h5>Pseudo actuel : </h5> {{this.utilisateur.pseudo}}
                <br><br>
            </div>

            <div class="col-lg-6 col-sm-6">
                <h5>E-Mail actuel : </h5> {{this.utilisateur.mail}}
                <br><br>
            </div>

            <div class="col-lg-6 col-sm-6">
                <h5>Téléphone actuel : </h5> {{this.utilisateur.phone}}
                <br><br>
            </div>
        </div>
    </div>

    <hr>
    <h2>Modifier mes informations</h2>
    <hr>
    <div id='back'>
        <br>
        <div class="col-lg-6 col-sm-6">
            <form [formGroup]="userUpdateForm" (ngSubmit)="this.update()">

                <div class="form-group">
                    <label for="firstName">
                        <h5>Nouveau Prénom : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.firstName"
                        formControlName="firstName" name="firstName" placeholder="{{this.utilisateur.firstName}}">
                </div>

                <div class="form-group">
                    <label for="lastName">
                        <h5>Nouveau nom : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.lastName"
                        formControlName="lastName" name="lastName" placeholder="{{this.utilisateur.lastName}}">
                </div>

                <div class="form-group">
                    <label for="pseudo">
                        <h5>Nouveau Pseudo : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.pseudo"
                        formControlName="pseudo" name="pseudo" placeholder="{{this.utilisateur.pseudo}}">
                </div>

                <div class="form-group">
                    <label for="mail">
                        <h5>Nouvel E-mail : </h5>
                    </label>
                    <input type="email" class="form-control" [(ngModel)]="this.utilisateur.mail" formControlName="mail"
                        name="mail" placeholder="{{this.utilisateur.mail}}">
                </div>

                <div class="form-group">
                    <label for="password">
                        <h5>Nouveau Mot de Passe: </h5>
                    </label>
                    <input type="password" class="form-control" [(ngModel)]="this.utilisateur.pwd" formControlName="pwd"
                        name="pwd" pattern=".{8,}" title="Mot de passe d'au moins 8 caractères">
                    <div *ngIf="!samePwd && this.utilisateur.pwd.length > 7 && this.password2.length > 7"
                        class="alert alert-danger">
                        Les mots de passe entrés ne sont pas les mêmes
                    </div>
                </div>

                <div class="form-group">
                    <label for="password2">
                        <h5>Confirmer Mot de Passe: </h5>
                    </label>
                    <input type="password" class="form-control" [(ngModel)]="this.password2" formControlName="password2"
                        name="password2" pattern=".{8,}" title="Mot de passe d'au moins 8 caractères"
                        (blur)="this.comparePwd()">
                </div>


                <div class="form-group">
                    <label for="phone">
                        <h5>Nouveau Téléphone : </h5>
                    </label>
                    <input type="number" class="form-control" [(ngModel)]="this.utilisateur.phone"
                        formControlName="phone" name="phone" placeholder="{{this.utilisateur.phone}}">
                </div>


                <button type="submit" class="btn alazea-btn mt-15"
                    [disabled]="!userUpdateForm.valid">Enregistrer</button><br><br>
                <div *ngIf="this.messageValidation.length">
                    <div class="alert alert-fail" *ngIf="this.error">
                        {{this.messageValidation}}
                    </div>
                    <div class="alert alert-success" *ngIf="!this.error">
                        {{this.messageValidation}}
                    </div>
                </div>
                <a routerLink="/dashboard">
                    <button class="btn alazea-btn mt-15">Retour</button>
                </a>

            </form>

        </div>
        <br>
    </div>

</div>