<script>
    $(document).ready(function () {

        $('.chips-placeholder').materialChip({
            placeholder: 'Enter a tag',
            secondaryPlaceholder: '+Tag',
        });
    })
</script>

<div class="container">
    <app-entete-dashboard></app-entete-dashboard>

    <h2>Modifier vos informations</h2>
    <hr>

    <div class="row">

        <div class="col-lg-6 col-sm-6">
            <h5>Nom actuel : </h5> {{this.utilisateur.firstName}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h5>Prénom actuel : </h5> {{this.utilisateur.lastName}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h5>Pseudo actuel : </h5> {{this.utilisateur.pseudo}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h5>E-Mail actuel : </h5> {{this.utilisateur.mail}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h5>Téléphone actuel : </h5> {{this.utilisateur.phone}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h5>Image actuelle : </h5> {{this.utilisateur.picture}}
            <br><br>
        </div>

        <div class="col-lg-6 col-sm-6">
            <form [formGroup]="userUpdateForm" >

                <div class="form-group">
                    <label for="firstName">
                        <h5>Nouveau Prénom : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.firstName"
                        formControlName="firstName" name="firstName">
                </div>

                <div class="form-group">
                    <label for="lastName">
                        <h5>Nouveau nom : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.lastName"
                        formControlName="lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label for="pseudo">
                        <h5>Nouveau Pseudo : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.pseudo"
                        formControlName="pseudo" name="pseudo">
                </div>

                <div class="form-group">
                    <label for="mail">
                        <h5>Nouvel E-mail : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.mail" formControlName="mail"
                        name="mail">
                </div>

                <div class="form-group">
                    <label for="phone">
                        <h5>Nouveau Téléphone : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.phone" formControlName="phone"
                        name="phone">
                </div>

                <div class="form-group">
                    <label for="picture">
                        <h5>Nouvelle Image : </h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="this.utilisateur.picture"
                        formControlName="picture" name="picture">
                </div>


                <button type="submit" class="btn alazea-btn mt-15"
                    [disabled]="!userUpdateForm.valid">Enregistrer</button><br><br>
                <div *ngIf="this.messageValidation.length">
                    <div class="alert alert-fail" *ngIf="this.error">
                        {{this.messageValidation}}
                    </div>
                    <div class="alert alert-success" *ngIf="!this.error">
                        {{this.messageValidation}}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="container">
    <div class="bottompage">
        <a routerLink="/dashboard">
            <button class="btn alazea-btn mt-15">Retour</button>
        </a>
    </div>
</div>