
<div class="container">
  <!-- Entete de la liste des plantes -->
  <app-entete-utilisateur-admin></app-entete-utilisateur-admin>

  <!-- Partie correspondant aux differents choix de l'administrateur, s'affiche uniquement si choix = true -->
  <div *ngIf="choix">
      <h2>Cher administrateur, que voulez-vous faire ?</h2>

      <div class="container">
          <button class="btn alazea-btn mt-15" (click)="this.afficherListe()">Afficher la liste des utilisateurs</button>
      </div>

      <div class="container">
          <button class="btn alazea-btn mt-15" (click)="this.afficherRecherche()">Rechercher un utilisateur par numéro d'identifiant</button>
      </div>

      <div class="container">
          <a routerLink="/admin">
              <button class="btn alazea-btn mt-15">Retour</button></a>
      </div>

  </div>

  <!-- Partie Recherche Par Id, s'affiche uniquement si recherche = true -->
  <div *ngIf="recherche">
      <h2><label for="search-box">Recherche par numéro d'identifiant</label></h2>
      <input type="number" [(ngModel)]="this.identifier"/>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/plant/update/{{this.numero}}">
          <button class="btn alazea-btn mt-15" >Rechercher</button>
      </a>
  </div>

  <!-- Partie Liste des utlisateurs, s'affiche uniquement si liste = true -->
  <div *ngIf="liste">
      <h2>Liste des utilisateurs</h2>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Activer</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let utilisateur of this.allUtilisateur">
                  <td>{{utilisateur.identifier}}</td>
                  <td>{{utilisateur.lastName}}</td>
                  <td>{{utilisateur.firstName}}</td>
                  <td>{{utilisateur.mail}}</td>
                  <td>{{utilisateur.active}}</td>
                  <td>
                  <button class="btn btn-danger" title="Désactiver" (click)="this.desactivateUser(utilisateur.identifier)"><i class="fa fa-times" aria-hidden="true"></i></button>
                  &nbsp;&nbsp;
                  <button class="btn btn-info" title="Activer" (click)="this.activateUser(utilisateur.identifier)"><i class="fa fa-check-square" aria-hidden="true"></i></button>
                  &nbsp;&nbsp;
                  </td>
              </tr>
          </tbody>
      </table>
      <nav aria-label="Page navigation">
          <ul class="pagination" >
              <li class="page-item" *ngIf="this.pageActive>0">
                  <a class="page-link" (click)="this.getAll(0)">
                      <i class="fa fa-angle-double-left"></i>
                  </a>
              </li>
              <li class="page-item" *ngIf="this.pageActive>0">
                  <a class="page-link" (click)="this.getAll(this.pageActive-1)">
                      <i class="fa fa-angle-left"></i>
                  </a>
              </li>
              <li class="page-item" *ngFor="let page of pageTotal">
                  <a class="page-link" id="{{page}}" (click)="this.getAll(page)">{{page+1}}</a>
              </li>
              <li class="page-item" *ngIf="this.pageActive<this.maxPage-1">
                  <a class="page-link" (click)="this.getAll(this.pageActive+1)">
                      <i class="fa fa-angle-right"></i>
                  </a>
              </li>
              <li class="page-item" *ngIf="this.pageActive<this.maxPage-1">
                  <a class="page-link" (click)="this.getAll(this.maxPage-1)">
                      <i class="fa fa-angle-double-right"></i>
                  </a>
              </li>
          </ul>
      </nav>
  </div>

  <!-- Partie retour aux differents choix, s'affiche uniquement si choix = false -->
  <div class="container" *ngIf="!choix">
      <button class="btn alazea-btn mt-15" (click)="this.afficherChoix()">Retour</button>
  </div>

</div>
