<!-- ##### Footer Area Start ##### -->
<br><br>
<footer class="footer-area bg-img" style="background-image: url(assets/img/bg-img/3.jpg);">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-footer-widget">
            <div class="footer-logo mb-30">
              <a href="#">
                <h3 style="color:white">Punch Plante Heure</h3>
              </a>
            </div>
            <p>La meilleure application pour la gestion de vos plantes</p>
            <div class="social-info">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://gitlab.com/Spaghetti-droid/punchplanteheure"><i class="fa fa-gitlab"
                  aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-footer-widget">
            <div class="widget-title">
              <h5>CONTACT</h5>
            </div>

            <div class="contact-information">
              <p><span>Adresse:</span> 84 Quai Joseph Gillet 69004 Lyon</p>
              <p><span>Tel:</span> 01 45 38 30 51</p>
              <p><span>Email:</span> intiformintilyon2020@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Area -->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="border-line"></div>
        </div>
        <!-- Copywrite Text -->
        <div class="col-12 col-md-6">
          <div class="copywrite-text">
            <p>&copy;
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | Template by <a
                href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area End ##### -->
