 <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(assets/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><h3 style="color:white">Punch Plante Heure</h3></a>
                            </div>
                            <p>La meilleur application de gestion de jardin</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>LIEN RAPIDE</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="#">Plantes</a></li>
                                    <li><a href="#">Jardins</a></li>
                                    <li><a href="#">Génération</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Conseils</a></li>
                                    <li><a href="#">Forum</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Notre équipe</a></li>
                                    <li><a href="#">Météo</a></li>
                                    <li><a href="#">Politiques</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>JARDINIER DE LA <br> SEMAINE</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="assets/img/bg-img/4.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">@MrGarden</a>
                                    <p>15 conseils</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="assets/img/bg-img/5.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">@MmeTulipe</a>
                                    <p>53 Avis positifs</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Addresse:</span> 84 Quai Joseph Gillet Lyon</p>
                                <p><span>Tel:</span> 04 85 95 45 78</p>
                                <p><span>Email:</span> punchplantheure@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                  <li><a class="nav-link" routerLink="/plant/vuser">Plante</a></li>
                                  <li><a class="nav-link" routerLink="/jardin">Jardin</a></li>
                                  <li><a class="nav-link" routerLink="/plant/vadmin">Plantes Admin</a></li>
                                  <li><a class="nav-link" routerLink="/dashboard">Accueil Admin</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
