<div class="container">

    <a routerLink="/jardin/add">
        <input type="button" value="Ajouter un jardin" class="btn btn-info"/>
    </a>

    <!--LISTE DES JARDINS-->
    <div class="row">
        <label>
            <h2>Liste des jardins :</h2>
        </label>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Sol</th>
                    <th>Longueur</th>
                    <th>Largeur</th>
                    <th>Departement</th>
                    <th>Supprimer jardin</th>
                    <th>Détail jardin</th>
                    <th>Modifier jardin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of this.allJardins">
                    <td>{{e.id}}</td>
                    <td>{{e.nom}}</td>
                    <td>{{e.sol}}</td>
                    <td>{{e.longueur}}</td>
                    <td>{{e.largeur}}</td>
                    <td>{{e.departement}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="this.delete(e.id)">Supprimer</button>
                    </td>
                    <td>
                        <a routerLink="/jardin/detail">
                            <button class="btn btn-info" (click)="this.stockageJardin(e)">Détail</button>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/jardin/update">
                            <button class="btn btn-info" (click)="this.stockageJardin(e)">Modifier</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>