<div class="container">

    <a routerLink="/jardin/create">
        <input type="button" value="Ajouter un jardin" class="btn btn-info"/>
    </a>
    <a routerLink="/jardin/detail">
        <input type="button" value="VISUEL detail jardin" class="btn btn-info"/>
    </a>
    <a routerLink="/jardin/update">
        <input type="button" value="VISUEL update jardin" class="btn btn-info"/>
    </a>

    <!--LISTE DES JARDINS-->
    <div class="row">
        <label>
            <h2>LISTE DES JARDINS </h2>
        </label>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Sol</th>
                    <th>Longueur</th>
                    <th>Largeur</th>
                    <th>Departement</th>
                    <th>Supprimer jardin</th>
                    <th>Détail jardin</th>
                    <th>Modifier jardin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of this.allJardins">
                    <td>{{e.identifier}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.ground}}</td>
                    <td>{{e.length}}</td>
                    <td>{{e.width}}</td>
                    <td>{{e.dept}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="this.delete(e.id)">Supprimer</button>
                    </td>
                    <td>
                        <a routerLink="/jardin/detail">
                            <button class="btn btn-info" (click)="this.stockageJardin(e)">Détail</button>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/jardin/update">
                            <button class="btn btn-info" (click)="this.stockageJardin(e)">Modifier</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>