    <!--LISTE DES PERIODES-->
    
    <div >
        <!-- Retour lien page administrateur -->
    <div>
        <a routerLink="/periode/lp/{{plante.identifiant}}">
            <button class="btn alazea-btn mt-15" >Retour</button>
        </a>
        <p></p>
    </div>
    <table class="table table-hover" *ngIf="this.allPeriodes">
        <thead>
            <tr>
                <th>Type</th>
                <th>Dates actuelles</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let per of this.allPeriodes">
                    <td>{{per.periodType}}</td>
                    <td>
                        <span *ngIf="this.per.startDate">{{this.per.startDate.getMonth()}}  &#x2794;  {{this.per.endDate.getMonth()}}</span>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="this.delete(per.identity)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!this.allPeriodes">
        <h3><i>Aucunes périodes actuellement enregistrées. </i></h3>
        <p></p>
    </div>

    <h3>Ajouter des périodes (Département : {{departement.depNum}} et Plante : {{plante.commun}}) </h3>
    <p></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <select class="col-4 form-control" [(ngModel)]="this.period.periodType" id="type" name="type">
                                <option value='REMPOTAGE'>Rempotage</option>
                                <option value='FLORAISON'>Floraison</option>
                                <option value='FRUCTIFICATION'>Fructifiation</option>
                                <option value='TAILLE'>Taille</option>
                                <option value='SEMIS'>Semis</option>
                            </select>
                        </td>
                        <td>
                            <span class="date_month">{{period.startDate | date:"LLLL"}}</span>
                            <input type="hidden" [matDatepicker]="dateDebut"  [min]="this.minDate" [max]="this.maxDate" [(ngModel)]="this.period.startDate" name="dateDebut" (ngModelChange)="changeDateMin()">
                            <mat-datepicker-toggle [for]="dateDebut"></mat-datepicker-toggle>
                            <mat-datepicker startView="year" #dateDebut></mat-datepicker>
                        </td>
                        <td>
                            <span class="date_month">{{period.endDate | date:"LLLL"}}</span>
                            <input type="hidden" [matDatepicker]="dateFin" [min]="this.minDate" [max]="this.maxDate" [(ngModel)]="this.period.endDate"  name="dateFin" (ngModelChange)="changeDateMax()">
                            <mat-datepicker-toggle [for]="dateFin"></mat-datepicker-toggle>
                            <mat-datepicker startView="year" #dateFin></mat-datepicker>
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="this.create()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-success" *ngIf="messageValidation">
            <strong>SUCCESS !</strong> {{this.messageValidation}}
          </div>
          <div class="alert alert-danger" *ngIf="messageErreur">
              <strong>ERROR !</strong> {{this.messageErreur}}
            </div>
    </div>
