<div class="container">

    <app-entete-dashboard></app-entete-dashboard>

    <h2>Cher administrateur, que voulez-vous faire ?</h2>
    
    <div class="container">
        <a routerLink="/plant/vadmin">
            <button class="btn alazea-btn mt-15">Mettre à jour la liste des plantes de notre dictionnaire</button>
        </a>
    </div>

    <div class="container">
        <a routerLink="/periode">
            <button class="btn alazea-btn mt-15">Mettre à jour la liste des périodes</button>
        </a>
    </div>

    <div class="container">
        <a routerLink="/departement/vadmin">
            <button class="btn alazea-btn mt-15">Mettre à jour la liste des departements</button>
        </a>
    </div>

</div>
